{% extends 'master.html' %}
{% load core_tags %}

{% block title %}Welcome{% endblock %}

{% block extraincludes %}
   <script type="text/javascript">
   $(function(){
	   	 //What we do setting
		 $('.whatwedo-list').cycle({
            timeout: 5000,  
            fx:     'fade',
			cleartypeNoBg: true, 
            pauseOnPagerHover: 0 
         });
		 
		 //Twitter jquery setting
		 $("#twitter").getTwitter({
			userName: "Indoneztheme",
			numTweets: 1,
			loaderText: "Loading tweets...",
			slideIn: true,
			slideDuration: 750
		 });
		 
		 //Testimonials setting
		 /*$('.testimonials-list').cycle({
            timeout: 5000,  
            fx:     'fade',
			cleartypeNoBg: true, 
            pauseOnPagerHover: 0 
         });*/
		 
		 //Tab jquery
		 $(".tab_content").hide(); 
		 $("ul.tabs li:first").addClass("active").show(); 
		 $(".tab_content:first").show(); 
		 $("ul.tabs li").click(function() {
			  $("ul.tabs li").removeClass("active");
		 	  $(this).addClass("active"); 
			  $(".tab_content").hide(); 
			  var activeTab = $(this).find("a").attr("href"); 
			  $(activeTab).fadeIn(); 
			  return false;
		 });
     });		
</script>
{% endblock %}
 
{% block maincontents %}
<!-- BEGIN OF HEADER IMAGE -->
<div id="headerimage-container">
    <div id="headerimage-top"></div>
    <div id="headerimage">
        <div class="headerimage-dot"></div>
        <img src="/static/images/page-title.jpg" alt="" /> 
    </div>
    <div id="headerimage-bottom"></div>
</div>
<!-- END OF HEADER IMAGE -->

<!-- BEGIN OF CONTENT -->
<div id="content">
    <div class="maincontent-inner">
        
    {% block aboutustitle %}
    {% endblock %}
        
        <div class="col-2-2">
            {% block aboutusmain %}
            {% endblock %}
            <!--div class="about-content">
                <div class="meet-team">
                    <h5>What we do</h5>
                    <p>Architecto beatae vitae</p>
                </div>
                <ul class="whatwedo-list">
                    <li><img src="/static/images/whatwedo1.jpg" alt="" class="imgborder" /><p>We analyze the problem</p></li>
                    <li><img src="/static/images/whatwedo2.jpg" alt="" class="imgborder" /><p>Make a skecth of work</p></li>
                    <li><img src="/static/images/whatwedo3.jpg" alt="" class="imgborder" /><p>Build frame of project</p></li>
                    <li><img src="/static/images/whatwedo4.jpg" alt="" class="imgborder" /><p>Finish and ready to use</p></li>
                </ul>
            </div-->                  	            
        </div>              
        
        <div class="col-3">
            <div class="sidebar-content">
                <h5>More about us</h5>
                <ul class="sidebar-list">
                    <li><a href="/about">The Company</a></li>                    
                    <li><a href="/about/board">Board of Directors</a></li>                                
                    <li><a href="/about/chairmansnote">Chairman's Note</a></li>
                    <li><a href="/about/facilities">Resource and Facilities</a></li>
                    <li><a href="/about/quality">Quality and Safety Processes</a></li>
                </ul>
            </div>
            
        </div>                                
        
    </div>
</div>
<div class="clear"></div>
<!-- END OF CONTENT -->
{% endblock %}

