{% extends 'aboutmaster.html'%}
{% load core_tags %}

{% block title %}About Us{% endblock %}
{% block aboutustitle %}
        <!-- begin of pagetitle --> 
        <div class="pagetitle">
            <h1>Our Offereings</h1>
            <!--h6>{{"about_punch"|snippet}}</h6-->
            <h6></h6>
        </div>
        <!-- end of front slogan --> 
{% endblock %}

{% block aboutusmain %}
    <img src="/static/images/about-photo.png" class="imgleft" />
    <p class="highlighttext">{{"about_main_top"|snippet}}</p>
    <p>{{"about_main_bottom"|snippet}}</p>
    <p>{{"about_main_even_bottom"|snippet}}</p>
{% endblock %}

