{% extends 'master.html' %}
{% load core_tags %}

{% block title %}Welcome{% endblock %}

{% block extraincludes %}
   <script type="text/javascript">
   $(function(){
	   	 //What we do setting
		 $('.whatwedo-list').cycle({
            timeout: 5000,  
            fx:     'fade',
			cleartypeNoBg: true, 
            pauseOnPagerHover: 0 
         });
		 
		 //Twitter jquery setting
		 $("#twitter").getTwitter({
			userName: "Indoneztheme",
			numTweets: 1,
			loaderText: "Loading tweets...",
			slideIn: true,
			slideDuration: 750
		 });
		 
		 //Testimonials setting
		 $('.testimonials-list').cycle({
            timeout: 5000,  
            fx:     'fade',
			cleartypeNoBg: true, 
            pauseOnPagerHover: 0 
         });
		 
		 //Tab jquery
		 $(".tab_content").hide(); 
		 $("ul.tabs li:first").addClass("active").show(); 
		 $(".tab_content:first").show(); 
		 $("ul.tabs li").click(function() {
			  $("ul.tabs li").removeClass("active");
		 	  $(this).addClass("active"); 
			  $(".tab_content").hide(); 
			  var activeTab = $(this).find("a").attr("href"); 
			  $(activeTab).fadeIn(); 
			  return false;
		 });
     });		
</script>
{% endblock %}
 
{% block maincontents %}
<!-- BEGIN OF HEADER IMAGE -->
<div id="headerimage-container">
    <div id="headerimage-top"></div>
    <div id="headerimage">
        <div class="headerimage-dot"></div>
        <img src="/static/images/page-title.jpg" alt="" /> 
    </div>
    <div id="headerimage-bottom"></div>
</div>
<!-- END OF HEADER IMAGE -->

<!-- BEGIN OF CONTENT -->
<div id="content">
    <div class="maincontent-inner">
        
        <!-- begin of pagetitle --> 
        <div class="pagetitle">
            <h1>About us.</h1>
            <h6>{{"about_punch"|snippet}}</h6>
        </div>
        <!-- end of front slogan --> 
        
        <div class="col-2-2">
            <p class="highlighttext">{{"about_main_top"|snippet}}</p>
            <p>{{"about_main_bottom"|snippet}}</p>
            <p>{{"about_main_even_bottom"|snippet}}</p>
            <div class="about-content">
                <div class="meet-team">
                    <h5>Meet the team</h5>
                    <p>{{"meet_team_sub"|snippet}}</p>
                </div>
                <ul class="team-list">
                    <li><img src="/static/images/team1.jpg" alt="" class="imgborder" /><p>Andra Lee</p></li>
                    <li><img src="/static/images/team2.jpg" alt="" class="imgborder" /><p>John Pantau</p></li>
                    <li><img src="/static/images/team3.jpg" alt="" class="imgborder" /><p>Suryo Bowo</p></li>
                    <li class="team-last"><img src="/static/images/team4.jpg" alt="" class="imgborder" /><p>Ken Arok</p></li>
                </ul>
            </div>
            <div class="about-content">
                <div class="meet-team">
                    <h5>What we do</h5>
                    <p>Architecto beatae vitae</p>
                </div>
                <ul class="whatwedo-list">
                    <li><img src="/static/images/whatwedo1.jpg" alt="" class="imgborder" /><p>We analyze the problem</p></li>
                    <li><img src="/static/images/whatwedo2.jpg" alt="" class="imgborder" /><p>Make a skecth of work</p></li>
                    <li><img src="/static/images/whatwedo3.jpg" alt="" class="imgborder" /><p>Build frame of project</p></li>
                    <li><img src="/static/images/whatwedo4.jpg" alt="" class="imgborder" /><p>Finish and ready to use</p></li>
                </ul>
            </div>                  	            
        </div>              
        
        <div class="col-3">
            <div class="sidebar-content">
                <h5>More about us</h5>
                <ul class="sidebar-list">
                    <li><a href="#">Vision and Mission</a></li>                    
                    <li><a href="#">Company History</a></li>                                
                    <li><a href="#">Company Philosophy</a></li>
                    <li><a href="#">Our Partnership</a></li>
                    <li><a href="#">Carreer</a></li>
                </ul>
            </div>
            
            <div class="sidebar-content">
                <h5>Testimonials</h5>
                <ul class="testimonials-list">
                    <li>
                        <blockquote>
                        <p>Labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corpor.
                        </p> 
                        </blockquote>
                        <strong>John Doe - Shangrila Hotel</strong>
                    </li>                   
                    <li>
                        <blockquote>
                        <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur vel illum qui.
                        </p> 
                        </blockquote>
                        <strong>Anthony - Minimalista Store</strong>
                    </li>                              
                    <li>
                        <blockquote>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae.
                        </p> 
                        </blockquote>
                        <strong>Teddy Fuu - Interior Consultant</strong>
                    </li>
                </ul>
            </div>
        </div>                                
        
    </div>
</div>
<div class="clear"></div>
<!-- END OF CONTENT -->
{% endblock %}

