{% extends 'aboutmaster.html'%}
{% load core_tags %}

{% block title %}Board of Directors | About Us{% endblock %}

{% block aboutustitle %}
        <div class="pagetitle">
            <h1>{{"directors_head"|snippet}}{% if member %}: {{membername}}{% endif %}</h1>
            <p>&nbsp;</p>
        </div>
{% endblock %}

{% block aboutusmain %}
            <p>{% if member %}
            {{member|snippet}}
            {% endif %}</p>


            <div class="about-content">
                <div class="meet-team">
                    <h5>Meet the team</h5>
                    <p>{{"meet_team_sub"|snippet}}</p>
                </div>
                <ul class="team-list">
                    {% for val in board %}
                    <li><a href='/about/board/{{val.0}}'><img src="/static/images/directors/{{val.0}}.jpg" alt="{{val.1}}" class="imgborder" /><p>{{val.1}}</p></a></li>
                    {% endfor %}
                    <!--li class="team-last"><img src="/static/images/team4.jpg" alt="" class="imgborder" /><p>Ken Arok</p></li-->
                </ul>
            </div>

{% endblock %}

