{% extends 'aboutmaster.html'%}
{% load core_tags %}

{% block title %}Resources and Facilities | About Us{% endblock %}

{% block aboutustitle %}
                <!-- begin of pagetitle --> 
                <div class="pagetitle">
                	<h1>{{"facility_head"|snippet}}</h1>
                	<h6>{{"facility_desc"|snippet}}</h6>
                </div>
                <!-- end of front slogan --> 
 
{% endblock %}

{% block aboutusmain %}
                <div class="col-1" style="width: auto;">
                    <p class="highlighttext">{{"facilitiestext"|snippet}}</p>

                    <div class="facilitypoint">
                        	{{"facility1"|snippet}}
                        	{{"facility1desc"|snippet}}
                    </div>

                    <div class="facilitypoint">
                        	{{"facility2"|snippet}}
                        	{{"facility2desc"|snippet}}
                    </div>

                    <div class="facilitypoint">
                        	{{"facility3"|snippet}}
                        	{{"facility3desc"|snippet}}
                    </div>

                    <div class="facilitypoint">
                        	{{"facility4"|snippet}}
                        	{{"facility4desc"|snippet}}
                    </div>

                    <div class="facilitypoint">
                        	{{"facility5"|snippet}}
                        	{{"facility5desc"|snippet}}
                    </div>

                    <div class="facilitypoint">
                        	{{"facility6"|snippet}}
                        	{{"facility6desc"|snippet}}
                    </div>

                    <div class="facilitypoint">
                        	{{"facility7"|snippet}}
                        	{{"facility8desc"|snippet}}
                    </div>

            </div>
{% endblock %}
