{% extends 'master.html' %}
{% load core_tags %}

{% block title %}Welcome{% endblock %}

{% block extraincludes %}
<script type="text/javascript">
   $(function(){
        //Slideshow setting		   		
        $('#slider').cycle({
            timeout: 5000,  
            fx:     'fade',
            pager:   '#pager', 
            cleartypeNoBg: true, 
            pauseOnPagerHover: 0 
         });
         
         //Featured logo setting
         $('.featured-logo').cycle({
            timeout: 5000,  
            fx:     'fade',
            cleartypeNoBg: true, 
            pauseOnPagerHover: 0 
         });
         
         //Tab jquery
         $(".tab_content").hide(); 
         $("ul.tabs li:first").addClass("active").show(); 
         $(".tab_content:first").show(); 
         $("ul.tabs li").click(function() {
              $("ul.tabs li").removeClass("active");
              $(this).addClass("active"); 
              $(".tab_content").hide(); 
              var activeTab = $(this).find("a").attr("href"); 
              $(activeTab).fadeIn(); 
              return false;
         });
     });		
</script>
{% endblock %}

{% block maincontents %}
<!-- BEGIN OF SLIDESHOW -->
<div id="slideshow-container">
    <div id="slide-top"></div>            
    <ul id="slider">
        <!-- begin of slide 1 -->
        <li>
        <div class="slide-content-wrapper">                            	
            <div class="slide-content">                        
                <div class="slide-text">
                    <h1>{{"slide1heading"|snippet}}</h1>
                    <p>{{"slide1desc"|snippet}}</p>
                    <!--a class="button small green" href="#"><span>get a quote &nbsp;&raquo;</span></a-->
                </div>                                    
            </div>
            <div class="slide-dot"></div>
        </div>
        <img src="/static/images/slideshow/slide1.jpg" alt="" />
        </li>
        <!-- end of slide 1 -->
        
        <!-- begin of slide 2 -->
        <li>
        <div class="slide-content-wrapper">                            	
            <div class="slide-content">                        
                <div class="slide-text">
                    <h1>{{"slide2heading"|snippet}}</h1>
                    <p>{{"slide2desc"|snippet}}</p>
                </div>                                    
            </div>
            <div class="slide-dot"></div>
        </div>
        <img src="/static/images/slideshow/slide2.jpg" alt="" />
        </li>
        <!-- end of slide 2 -->
        
        <!-- begin of slide 3 -->
        <li>
        <div class="slide-content-wrapper">                            	
            <div class="slide-content">                        
                <div class="slide-text">
                    <h1>{{"slide3heading"|snippet}}</h1>
                    <p>{{"slide3desc"|snippet}}</p>
                </div>                                    
            </div>
            <div class="slide-dot"></div>
        </div>
        <img src="/static/images/slideshow/slide3.jpg" alt="" />
        </li>
        <!-- end of slide 3 -->
        
        <!-- begin of slide 4 -->
        <li>
        <div class="slide-content-wrapper">                            	
            <div class="slide-content">                        
                <div class="slide-text">
                    <h1>{{"slide4heading"|snippet}}</h1>
                    <p>{{"slide4desc"|snippet}}</p>
                </div>                                    
            </div>
            <div class="slide-dot"></div>
        </div>
        <img src="/static/images/slideshow/slide4.jpg" alt="" />
        </li>  
        <!-- end of slide 4 -->                      

        <!-- begin of slide 5 -->
        <li>
        <div class="slide-content-wrapper">                            	
            <div class="slide-content">                        
                <div class="slide-text">
                    <h1>{{"slide5heading"|snippet}}</h1>
                    <p>{{"slide5desc"|snippet}}</p>
                </div>                                    
            </div>
            <div class="slide-dot"></div>
        </div>
        <img src="/static/images/slideshow/slide5.jpg" alt="" />
        </li>  
        <!-- end of slide 5 -->                      

    </ul>
    
    <!-- only when javascript disable -->
    <div id="slide-nojs"></div>
    <div id="slidedot-nojs"></div>
    <!-- only when javascript disable -->
    
    <div id="pager">&nbsp;</div>
    <div id="slide-bottom"></div>
</div>
<!-- END OF SLIDESHOW -->

<!-- BEGIN OF CONTENT -->
<div id="content">
    <div class="maincontent">
        
        <!-- begin of front slogan --> 
        <div class="col-1 front-slogan">
            <h3>{{"punchline"|snippet}}</h3>
            <p>{{"vision"|snippet}}</p>
            <div class="clear"></div>
            <div class="divider"></div>
        </div>
        <!-- end of front slogan --> 
        
        <!-- begin of left content --> 
        <div class="col-2-2">
            <img src="/static/images/img-content1.png" alt="" class="imgleft" />
            <h5>About us</h5>
            <p>{{"aboutintro"|snippet}}<br/><br/></p>
            <!--div class="front-box">
            </div-->
        </div> 
        <!-- end of left content -->              
        
        <!-- begin of latest news --> 
        <div class="col-3">
            <h5>Latest news</h5>
            <ul class="latest-list">
                {% for n in news %}
                <li>
                    <div class="date-news">
                        {{n.date.day}}<br/>{{n.date|date:"M"}}
                    </div>
                    <p>{{n.news}}</p>
                </li> 
                {% endfor %}
            </ul>
        </div>
         <!-- end of latest news -->
        
        <!-- begin of three column content --> 
        <div class="col-1 front-column">
            <div class="col-3-front">
                <h5>{{"main_title_one"|snippet}}</h5>
                <img src="/static/images/img-content2.jpg" alt="" class="imgleft imgborder" />
                <p>{{"main_cont_one"|snippet}}</p>
            </div>
            
            <div class="col-3-front">
                <h5>{{"main_title_two"|snippet}}</h5>
                <img src="/static/images/img-content3.jpg" alt="" class="imgleft imgborder" />
                <p>{{"main_cont_two"|snippet}}</p>
            </div>
            
            <div class="col-3-front-last">
                <h5>{{"main_title_three"|snippet}}</h5>
                <img src="/static/images/img-content4.jpg" alt="" class="imgleft imgborder" />
                <p>{{"main_cont_three"|snippet}}</p>
            </div> 
        </div>
        <!-- end of three column content -->                      
        
    </div>
</div>
<div class="clear"></div>
<!-- END OF CONTENT -->

{% endblock %}
