{% extends 'master.html' %}
{% load core_tags %}

{% block title %}{{title}}{% endblock %}


{% block maincontents %}
        <!-- BEGIN OF HEADER IMAGE -->
        <div id="headerimage-container">
            <div id="headerimage-top"></div>
            <div id="headerimage">
                <div class="headerimage-dot"></div>
                <img src="/static/images/{{image}}.jpg" alt="" /> 
            </div>
            <div id="headerimage-bottom"></div>
        </div>
        <!-- END OF HEADER IMAGE -->

        <!-- BEGIN OF CONTENT -->
        <div id="content">
        	<div class="maincontent-inner">
            	
                <!-- begin of pagetitle --> 
                <div class="pagetitle">
                	<h1>Labour License</h1>
                </div>
                <!-- end of front slogan --> 

                <div class="col-1">
                    <div class="esi">
                        <a href="/static/images/esi/esi challan apr-14.jpeg"><img style="width: 440px;" src="/static/images/esi/esi challan apr-14.jpeg"></a><a href="/static/images/esi/pf challan apr-14.jpeg"><img style="width: 440px;" src="/static/images/esi/pf challan apr-14.jpeg"></a>
                    </div>
                    <div class="esi">
                        <a href="/static/images/esi/esi challan feb-14.jpeg"><img style="width: 440px;" src="/static/images/esi/esi challan feb-14.jpeg"></a><a href="/static/images/esi/esi challan mar-14.jpeg"><img style="width: 440px;" src="/static/images/esi/esi challan mar-14.jpeg"></a>
                    </div>
                    <div class="esi">
                        <a href="/static/images/esi/pf challan feb-14.jpeg"><img style="width: 440px;" src="/static/images/esi/pf challan feb-14.jpeg"></a><a href="/static/images/esi/pf challan mar-14.jpeg"><img style="width: 440px;" src="/static/images/esi/pf challan mar-14.jpeg"></a>
                    </div>
                </div>
                <div class="esi">
                        <a href="/static/images/sal/sal1.jpeg"><img style="width: 440px;" src="/static/images/sal/sal1.jpeg"></a><a href="/static/images/sal/sal2.jpeg"><img style="width: 440px;" src="/static/images/sal/sal2.jpeg"></a>
                    </div>
                    <div class="esi">
                        <a href="/static/images/sal/sal3.jpeg"><img style="width: 440px;" src="/static/images/sal/sal3.jpeg"></a><a href="/static/images/sal/sal4.jpeg"><img style="width: 440px;" src="/static/images/sal/sal4.jpeg"></a>
                    </div>
                    <div class="esi">
                        <a href="/static/images/sal/sal5.jpeg"><img style="width: 440px;" src="/static/images/sal/sal5.jpeg"></a><a href="/static/images/sal/sal6.jpeg"><img style="width: 440px;" src="/static/images/sal/sal6.jpeg"></a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="clear"></div>
        <!-- END OF CONTENT -->
{% endblock %}
