{% load core_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="keywords" content="power plant operation, maintanance, consultants, designers, epc contractors, residual life assesment, equipment suppliers, retrofitting and upgradation, boiler erectors" />
        <meta name="description" content="Power Plant Operation, Power Plant Consultants, Power Plant Designers, Power Plant EPC Contactors/Executers, Residual Life assesment, Power Plant Equipment Suppliers/Manufacturers, Retrofitting and Upgradation of Power Plant Equipments, Boiler Erectors" />

        <title>{% block title %}Welcome{% endblock %} - mishanenergy.com</title>

        <link rel="shortcut icon" href="/favicon.ico" />

        <link href="/static/css/reset.css?version=0.3" rel="stylesheet" type="text/css" />
        <link href="/static/css/style.css?version=0.3" rel="stylesheet" type="text/css" />
        <link href="/static/css/noscript.css?version=0.3" rel="stylesheet" type="text/css" media="screen,all" id="noscript" />
        <!--link href="http://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet" type="text/css" /-->

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/dropdown.js"></script>
        <script type="text/javascript" src="/static/js/vtip.js"></script>
        <script type="text/javascript" src="/static/js/ddaccordion.js"></script>
        <script type="text/javascript" src="/static/js/faq-functions.js" ></script>
        <script type="text/javascript" src="/static/js/jquery.twitter.js"></script>
        <script type="text/javascript" src="/static/js/jquery.cycle.all.js"></script>
        {% block extraincludes %}
        {% endblock %}
    </head>

<body>	
	<div id="container"> 
    	
        <!-- BEGIN OF HEADER -->
    	<div id="header-container">
        	<div id="header-box">
            
            	<!-- begin of logo -->
                <div id="logo">
                    <a href="/"><img src="/static/images/logo.png" alt="main-logo" /></a>
                </div>
                <!-- end of logo -->
                
                <div id="righttop-header">
                	<div id="top-information">
                    	<p>{% block headerinfo %} For additional information call: {{"contact_prime"|snippet}} {% endblock %}</p>
                    </div>
                    
                    <!-- begin of mainmenu -->
                    <div id="mainmenu">
                        <ul id="menu">
                            <li class="current"><a href="/">Home</a></li>
                            <li><a href="javascript:;">About</a>
                            	<ul> 
                                	<li><a href="/about">The Company</a></li>
                                	<li><a href="/about/board">Board of Directors</a></li>
                                    <li><a href="/about/chairmansnote">Chairman's Note</a></li>
                                    <li><a href="/about/facilities">Resources and Facilities</a></li>
                                    <li><a href="/about/quality">Quality and Safety Processes</a></li>
                                </ul>
                            </li>
                            <li><a href="/services">Services</a></li>
                            <li><a href="javascript:;">Partners</a>
                            	<ul> 
                                	<li><a href="/partners/alliances">Alliances</a></li>
                                	<li><a href="/partners/clients">Clients</a></li>
                                </ul>
                            </li>
                            <li><a href="javascript:;">Portfolio</a>
                                <ul>
                                    <li><a href="/portfolio">Work</a></li>
                                    <li><a href="/portfolio/labourlicense">Labour License</a></li>
									 <li><a href="/portfolio/documents">Documents</a></li>
                                </ul>
                            <li><a href="/careers">Careers</a></li>
                            <li><a href="/contactus">Contact Us</a>
                            </li>
                        </ul>                
                    </div>
                    <!-- end of mainmenu -->                    
                </div>
                
            </div>            
        </div>
        <!-- BEGIN OF HEADER -->
        
        {% block maincontents %}
        {% endblock %}

        <!-- BEGIN OF FOOTER -->
        <div id="footer-container">
        	<div class="footer-content">
            {% comment %}
            	<ul class="footer-social">
                	<li>
                    	<a href="#"><img src="/static/images/footer-link1.png" alt="" /></a>
                        <p>Keep up to date<br/><span>news &amp; announcements</span></p>
                    </li>
                    <li>
                    	<a href="#"><img src="/static/images/footer-link2.png" alt="" /></a>
                        <p>See our dribbble<br/><span>latest portfolio &amp; gallery</span></p>
                    </li>
                    <li>
                    	<a href="#"><img src="/static/images/footer-link3.png" alt="" /></a>
                        <p>Follow us<br/><span>ask question &amp; geek out</span></p>
                    </li>
                </ul>
            {% endcomment %}
                
                <!-- begin of copyright text and footer link -->
                <div class="copyright-text">
                	<p>© 2013 Mishan Energy Pvt. Ltd. <a href="/termsnconditions">Terms &amp; Conditions</a> | <a href="/privacypolicy">Privacy Policy</a> | <a href="/securitypolicy">Security Policy</a> | <a target="_blank" href="http://clientlogin.fulledgesoftwares.com/projects/mishan/wiki">Documentation</a></p>
                </div>                
                <!-- end of copyright text and footer link -->
                
            </div>
        </div>
        <!-- END OF FOOTER -->
    	                    	       
    </div>      
<script type="text/javascript">$('#noscript').remove();</script>     
</body>
</html>
