{% load core_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome{% endblock %} | mishanenergy.com</title>

        <link rel="shortcut icon" href="/favicon.ico" />

        <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/noscript.css" rel="stylesheet" type="text/css" media="screen,all" id="noscript" />
        <link href="http://fonts.googleapis.com/css?family=Ubuntu:700" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/dropdown.js"></script>
        <script type="text/javascript" src="/static/js/vtip.js"></script>
        <script type="text/javascript" src="/static/js/ddaccordion.js"></script>
        <script type="text/javascript" src="/static/js/faq-functions.js" ></script>
        <script type="text/javascript" src="/static/js/jquery.twitter.js"></script>
        <script type="text/javascript" src="/static/js/jquery.cycle.all.js"></script>
        {% block extraincludes %}
        {% endblock %}
    </head>

<body>	
	<div id="container"> 
    	
        <!-- BEGIN OF HEADER -->
    	<div id="header-container">
        	<div id="header-box">
            
            	<!-- begin of logo -->
                <div id="logo">
                    <a href="/"><img src="/static/images/logo.png" alt="main-logo" /></a>
                </div>
                <!-- end of logo -->
                
                <div id="righttop-header">
                	<div id="top-information">
                    	<p>For additonal information call : 355 888 6456</p>
                    </div>
                    
                    <!-- begin of mainmenu -->
                    <div id="mainmenu">
                        <ul id="menu">
                            <li class="current"><a href="/">home</a></li>
                            <li><a href="/about">about</a></li>
                            <li><a href="/services">services</a></li>
                            <li><a href="#">portfolio</a>
                            	<ul> 
                                	<li><a href="portfolio-2col.html">2 column portfolio</a></li>
                                	<li><a href="portfolio-3col.html">3 column portfolio</a></li>
                                    <li><a href="portfolio-4col.html">4 column portfolio</a></li>
                                </ul>
                            </li>
                            <li><a href="/blog.html">blog</a></li>
                            <li><a href="/contact.html">contact</a></li>
                            <li><a href="#">pages</a>
                            	<ul> 
                                	<li><a href="column.html">column page</a></li>
                                    <li><a href="tables.html">table page</a></li>
                                    <li><a href="button-list.html">button &amp; list page</a></li>
                                    <li><a href="typhography.html">typhography page</a></li>
                                    <li><a href="testimonials.html">testimonials page</a></li>  
                                    <li><a href="pricing.html">pricing page</a></li>
                                    <li><a href="faq.html">faq page</a></li>
                                    <li><a href="single.html">single page</a></li>  
                                    <li><a href="fullwidth.html">fullwidth page</a></li>
                                    <li><a href="404.html">404 page</a></li>                           	
                                </ul>
                            </li>
                        </ul>                
                    </div>
                    <!-- end of mainmenu -->                    
                </div>
                
            </div>            
        </div>
        <!-- BEGIN OF HEADER -->
        
        {% block maincontents %}
        {% endblock %}

        <!-- BEGIN OF FOOTER -->
        <div id="footer-container">
        	<div class="footer-content">
            	<ul class="footer-social">
                	<li>
                    	<a href="#"><img src="/static/images/footer-link1.png" alt="" /></a>
                        <p>Keep up to date<br/><span>news &amp; announcements</span></p>
                    </li>
                    <li>
                    	<a href="#"><img src="/static/images/footer-link2.png" alt="" /></a>
                        <p>See our dribbble<br/><span>latest portfolio &amp; gallery</span></p>
                    </li>
                    <li>
                    	<a href="#"><img src="/static/images/footer-link3.png" alt="" /></a>
                        <p>Follow us<br/><span>ask question &amp; geek out</span></p>
                    </li>
                </ul>
                
                <!-- begin of copyright text and footer link -->
                <div class="copyright-text">
                	<p>© 2011 <span class="footer-img"><img src="/static/images/footer-logo.png" alt="" /></span> <a href="#">Terms &amp; Conditions</a> &nbsp; <a href="#">Privacy Policy</a> &nbsp; <a href="#">Security Policy</a></p>
                </div>                
                <!-- end of copyright text and footer link -->
                
            </div>
        </div>
        <!-- END OF FOOTER -->
    	                    	       
    </div>      
<script type="text/javascript">$('#noscript').remove();</script>     
</body>
</html>
