@charset "utf-8";
/*----------------------------------------------------
             Prime no script  - CSS File
------------------------------------------------------*/

ul#slider{
	display:none;
}
#slide-nojs{
	width:1090px;
	height:535px;
	margin-top:-110px;
	background-image:url(../images/slideshow/slide1.jpg);
	background-repeat:no-repeat;
	float:left;
}
#slidedot-nojs{
	width:1090px;
	height:535px;
	top:48px;
	background-image:url(../images/slide-dot.png);
	background-repeat:repeat;
	position:absolute;
	z-index:80;
}
#mainmenu li:hover ul{
	display:block;		
}
.front-slogan{
	margin-top:-121px;
}
ul.featured-logo li.featured-nojs{
	display:none;	
}