{% extends "master.html" %}

{% block title %}404 Not Found{% endblock %}

{% block maincontents %}
    <div class="paddingbox cufon">
        <h2 class="h2">Not Found!</h2>

        <p class="errordesc"> The page you are looking is not found, go to <a class="lowerlink" href="/">homepage</a> to start over. </p>

        <p class="errordesc padtop bold"> We recommend you the following actions: </p>
        <ul class="errordesc errorul">
            <li>Go to <a class="lowerlink" href="/">homepage</a> to start over.</li>
            <li>Mail us at: <a href='mailto: care@fulledgesoftwares.com'>care@fulledgesoftwares.com</a> with a report, possibly send a screenshot as well.</li>
            <li>Go to facebook and brag about us!</li>
            <li>Try the same on twitter</li>
            <li>Show this screen to friends.</li>
        </ul>

        <p class="errordesc padtop">But thanks for using FullEdge Softwares, we are here to provide you unmatched service and quality.</p>
        <p class="errordesc">FullEdge Softwares Team</p>


    </div>
{% endblock %}

