{% extends "master.html" %}

{% block title %}Contact Us{% endblock %}

{% block extraincludes %}
    <style type="text/css">
    .myform table tr th {
        text-align: right;
    }
    </style>
{% endblock %}

{% block maincontents %}
    {% include "rightbar.html" %}
    <div class="textwrapper textile">
        <h2>Contact Us</h2>
        <img src="/static/images/dynamic/contactus.jpg" class="leftimage" />

        <form method="POST" class="myform">
            {% if success %}
            <p style="color: green; text-align: center;"> Thanks for you interest! We will get back to you shortly. </p>
            {% endif %}
            <table border="0">
            {{ contactusform.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value="Send" /></td>
            </tr>
            </table>
        </form>

        <div style="clear: left;"></div>
        <div class="contact">
            Or you can also reach us at: <br/><strong><a href="mailto:support@fulledgesoftwares.com">support@fulledgesoftwares.com</a></strong> <br/><br/>
            Or directly at: <br/>
            <strong>+91-9818000685, +91-9999942324</strong><br/><br/>
            KB-85, Kavi Nagar <br/>Ghaziabad - 110091, India.
        </div>
    </div>
{% endblock %}

