{% extends "master.html" %}

{% block title %}Welcome{% endblock %}

{% block maincontents %}

    {% include "rightbar.html" %}

    <!-- Begin left block -->
    <div class="leftblock">
                 <!-- Diapo begins -->
                 <div class="pix_diapo">

                    <div data-thumb="/static/images/thumbs/megamind1048.jpg">
                        <img src="/static/images/slides/slide1.png">
                    </div>
                    
                    <div data-thumb="/static/images/thumbs/megamind_07.jpg">
                        <img src="/static/images/slides/slide2.png"> 
                    </div>
                    
                    <div data-thumb="/static/images/thumbs/wall-e.jpg" data-time="7000">
                        <img src="/static/images/slides/slide3.png">
                        <div class="caption elemHover fromLeft">
                            Interact, create, innovate!
                        </div>
                    </div>
                    
                    <div data-thumb="/static/images/thumbs/megamind1048.jpg">
                        <img src="/static/images/slides/slide4.png">
                        <div class="caption elemHover fromLeft">
                            through real time interaction
                            blogging and many more.
                        </div>
                    </div>

                    <div data-thumb="/static/images/thumbs/megamind1048.jpg">
                        <img src="/static/images/slides/slide5.png">
                    </div>

                    <div data-thumb="/static/images/thumbs/megamind1048.jpg">
                        <img src="/static/images/slides/slide6.png">
                        <div class="caption elemHover fromLeft" style="bottom:180px;">
                            Viral your imaginations...
                        </div>
                    </div>
               </div><!-- #pix_diapo -->

               <div class="hometext textile">
                   {{hometext|safe}}
               </div>

   </div>  <!-- End left block -->
{% endblock %}

