{% extends "master.html" %}

{% block title %}Edit Text Files{% endblock %}

{% block maincontents %}
    {% if list_files %}
        <ul style="margin: 30px 40px;">
        {% for f in list_files %}
            <li><a href="/admin/textedit?file={{f}}">{{f}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
    
    <div style="margin: 30px 40px;">
        <h2>Edit your file here... (<a href="/admin/textedit">back to file list</a>)</h2>
        <form method="post">
            <textarea style="width: 100%; height: 300px;" name="fcontents">{{filecontents}}</textarea><br/><br/>
            <input type="hidden" name="fname" value="{{editing}}" />
            <input type="submit" value="Update" />
        </form>
    </div>
    {% endif %}
{% endblock %}

