{% extends 'admin/master.html' %}

{% block main %}
    {% ifequal request.GET.error 'allfieldsreq' %}<p class='error'>All fields are required</p>{% endifequal %}
    {% ifequal request.GET.error 'minchar' %}<p class='error'>New password must be atleast 4 characters long.</p>{% endifequal %}
    {% ifequal request.GET.error 'match' %}<p class='error'>Both the supplied passwords must match.</p>{% endifequal %}
    {% ifequal request.GET.error 'nosuchuser' %}<p class='error'>No such user exists (did you forget to put complete email address?)</p>{% endifequal %}
    {% ifequal request.GET.error 'nopassmatch' %}<p class='error'>The given password is not correct.</p>{% endifequal %}

    {% ifequal request.GET.msg 'success' %} <p class="success">Successfully changed the password. </p> {% endifequal %}
    <h2> Change Password </h2>
    <form method="post" action="/admin/changepassword">
        <table>
            <tr>
                <td>Email (@mishanenergy.com):</td>
                <td><input type="text" name="email" value="{{request.GET.email}}" /></td>
            </tr>
            <tr>
                <td>Old Password:</td>
                <td><input type="password" name="old" /></td>
            </tr>
            <tr>
                <td>New Password:</td>
                <td><input type="password" name="new1" /></td>
            </tr>
            <tr>
                <td>Retype Password:</td>
                <td><input type="password" name="new2" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Change Password" /></td>
            </tr>
        </table>
    </form>
{% endblock %}
