{% extends 'admin/master.html' %}

{% block title %}Create or Edit Emails{% endblock %}

{% block maincontents %}
    {% ifequal request.GET.msg 'success' %}
        <p class="success">Successfully created E-mail address: {{request.GET.email}} </p>
    {% endifequal %}
    {% ifequal request.GET.msg 'deleted' %}
        <p class="success">Successfully deleted E-mail address: {{request.GET.email}} </p>
    {% endifequal %}
    <h2> Create a new email address </h2>
    <form method="post">
        <table border="0">
            {{eform.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" value="Save" /></td>
            </tr>
        </table>
    </form>

    <h2>User listing</h2>
    <table border="0" class="admintable">
        <tr>
            <th></th>
            <th>User's Name</th>
            <th>Email Address</th>
            <th>Alternate Address</th>
            <th>Admin</th>
            {% if request.user.is_staff %}
            <th>Actions</th>
            {% endif %}
        </tr>
        {% for u in users %}
        <tr>
            <td class="center">{{forloop.counter}}</td>
            <td class="center">{{u.first_name}}</td>
            <td class="center">{{u.email}}</td>
            <td class="center">{{u.last_name}}</td>
            <td class="center">
            {% if request.user.is_staff %}
                {% if u.is_staff %}<a href="/admin/unstaff/{{u.id}}">remove admin</a>{% else %}<a href="/admin/staff/{{u.id}}">make admin</a>{% endif %}
            {% else %}
                {% if u.is_staff %}yes{% else %}no{% endif %}
            {% endif %}
            </td>
            {% if request.user.is_staff %}
            <td class="center"><a href='/admin/mail/delete/{{u.id}}'>(delete)</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    (please double check before deleting an email, all the associated files and email address will be permanently removed)
{% endblock %}
