{% extends "master.html" %}

{% block title %}Login{% endblock %}

{% block maincontents %}
    <div class="paddingbox cufon">
        <h1>Login</h1>
        <form method="post" action="/auth/check">
            <input type="text" name="email" title="Email" class="textinput"/> <br/><br/>
            <input type="password" name="password" title="Password" class="textinput" /> <br/><br/>
            <input type="hidden" name="next" value="{{request.GET.next}}" />
            <input type="submit" value="Login" />
        </form>

        <hr/>
        <h1>Register</h1>
        <form method="post"> 
            {{ regform.as_p }}
            <input type="hidden" name="next" value="{{request.GET.next}}" />
            <input type="submit" value="Register" />
        </form>

    </div>
{% endblock %}

