{% extends "master.html" %}

{% block title %}Upload Media{% endblock %}

{% block extraincludes %}
    <style type="text/css">
        pre {
            background: #eee;
            border: 1px solid #ccc;
            padding: 3px 5px;
        }
        h2 {
            font-size: 15px;
        }
        .uploaded {
            margin: 20px 30px;
        }
    </style>
{% endblock %}

{% block maincontents %}

    <div class="uploaded">
    {% if request.method == "POST" %}
        <h2> File uploaded </h2>
        {% for link in links %}
        <p class="padtop1"> Full link (using on external sites) </p>
        <pre> http://{{host}}/static/uploads/{{link}} </pre>
        <p class="padtop1"> Short link (using internally, e.g DV blog) </p>
        <pre> /static/uploads/{{link}} </pre>
        <br/><hr/>
        {% endfor %}
    {% endif %}
    </div>

    <form method="post" enctype="multipart/form-data" style="margin-top: 100px; text-align: center;">
        <input type="file" name="ifile1" /> <br/>
        <input type="file" name="ifile2" /> <br/>
        <input type="file" name="ifile3" /> <br/>
        <input type="file" name="ifile4" /> <br/> <br/>
        <input type="submit" value="Upload" class="padtop1"/>
    </form>
{% endblock %}

