* {
    margin: 0; padding: 0;
    font-family: merriweather, georgia, arial, sans;
    font-size: 11px;
}

a > img {
    border: none;
}

body {
    background: #eee;
    background: url('/static/images/bg3.jpg') repeat;
    overflow-x: hidden;
}
input, textarea {
    border: 1px solid #ccc;
    padding: 2px 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
input[type=submit] {
    background: #eee;
    padding: 1px 10px;
    border: 1px solid #ddd;
    background-image:    -moz-linear-gradient(top, #fafafa, #ccc); 
    background-image:    -webkit-linear-gradient(top, #fafafa, #ccc); 
    background-image:    linear-gradient(top, #fafafa, #ccc); 
    border: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #222;
    font-size: 11px;
    cursor: pointer;
}
input[type=submit]:hover {
    background: #fafafa;
    background-image:    -moz-linear-gradient(top, #fafafa, #bbb); 
    background-image:    -webkit-linear-gradient(top, #fafafa, #bbb); 
    background-image:    linear-gradient(top, #fafafa, #bbb); 
    -moz-box-shadow: 0px 0px 4px #ccc;
    -webkit-box-shadow: 0px 0px 4px #ccc;
    box-shadow: 0px 0px 4px #ccc;
    border: 1px solid #bbb;
}

a:link, a.visited, a.active {
    color: #597fd7; 
}
.fullwidth {
    width: 100%;
}
.bold {
    font-weight: bold;
}
.grow1 {
    font-size: 13px;
}
.padleft1 {
    padding-left: 10px;
}
.padtop1 {
    padding-top: 10px;
}
.padbottom1 {
    padding-bottom: 10px;
}
.h2 {
    font-weight: bold;
    font-size: 16px;
}

.header {
}

.inheader {
    width: 1000px;
    margin: auto;
    overflow: hidden;
}


.maincontents, .navigation, .footer {
    clear: both;
    width: 1000px;
    margin: auto;
}

.logo {
    padding-top: 3px;
    display: block;
    float: left;
}

.searcharea {
    float: right;
    margin-left: 90px;
    margin-top: 7px;
}
.search {
    height: 18px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-top: 5px;
}
.search input {
    float: left;
    height: 17px;
}
.search .stool {
}
.searchbox {
    border: 1px solid #ccc;
    border-right: none;
    font-size: 12px;
    padding: 1 3px;
    width: 200px;
    vertical-align: middle;
    color: #555;
}

.navlinks {
    clear: both;
    margin-top: 15px;
    margin-left: 30px;
}
.navlinks > li {
    list-style: none;
    float: left;
    padding: 3px 0;
    padding-top: 5px;
    border-top-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-left-radius:4px;
    -moz-border-radius-topleft:4px;
    -webkit-border-top-left-radius:4px;
    border: 1px solid #eee;
    border-bottom: 1px solid #ddd;
    background: #eee;
    margin-right: 3px;
    background-image: -moz-linear-gradient(90deg, #eee, #fafafa); 
    background-image: -webkit-linear-gradient(90deg, #eee, #fafafa); 
    background-image: linear-gradient(90deg, #eee, #fafafa); 
    position: relative;
    top: 1px;
}
.navlinks > li:hover {
    background-image: -moz-linear-gradient(90deg, #ddd, #fafafa); 
    background-image: -webkit-linear-gradient(90deg, #ddd, #fafafa); 
    background-image: linear-gradient(90deg, #ddd, #fafafa); 
    border: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #eee;
}
.navlinks > li.selected {
    border: 1px solid #6babf9;
    background: #3a5cee;
    background-image: -moz-linear-gradient(90deg, #3a5cee, #6babf9); 
    background-image: -webkit-linear-gradient(90deg, #3a5cee, #6babf9); 
    background-image: linear-gradient(90deg, #3a5cee, #6babf9); 
}
.navlinks > li > a:active, .navlinks > li > a:link, .navlinks > li > a:visited {
    color: black;
    padding: 2px 20px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
.navlinks > li.selected > a:active, .navlinks > li.selected > a:link, .navlinks > li.selected > a:visited {
    color: white;
}

.tabcontents {
    clear: both;
    border: 1px solid #ddd;
    min-height: 630px;
    _height: 530px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    padding-bottom: 10px;
}

.socialpresence {
    text-align: center;
    border-top-right-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding-top: 5px;
}

.rightblock {
    float: right;
    width: 250px;
    margin-right: 20px;
    margin-top: 10px;
    min-height: 630px;
    border-left: 1px solid #ccc;
    padding-left: 20px;
}

.socialpresence {
    text-align: center;
    border-top-right-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    padding-top: 5px;
}

.rightblock {
    float: right;
    width: 220px;
    margin-right: 20px;
    margin-top: 10px;
}
.leftblock {
    float: left;
    width: 720px;
}
.regwebminar {
}
.regwebminar > form {
    width: 88%;
    padding: 0 10px;
}
.regwebminar > form > div {
    margin-bottom: 5px;
}

.left {
    float: left;
}
.right {
    float: right;
}
.footer {
    margin-top: 4px;
    margin-bottom: 30px;
}

.paddingbox {
    padding: 20px;
}

.errordesc, .errordesc > li, .errordesc a {
    font-size: 13px;
}
.errorul {
    margin-left: 50px;
}

.fbsidebar {
    margin-bottom: 10px;
}
#fb-root, #fb-like {
    overflow: hidden;
    width: 240px ! important;
}


ul.servicemenu {
    position: absolute;
    z-index: 100000;
    background: #fafafa;
    border: 1px solid #ddd;
    width: 200px;
    top: 24px;
}
ul.servicemenu > li {
    list-style: none;
    border-bottom-right-radius:4px;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
    -moz-border-radius-bottomleft:4px;
    -webkit-border-bottom-left-radius:4px;
}

ul.servicemenu > li > a:link, ul.servicemenu > li > a:active, ul.servicemenu > li > a:visited {
    color: black;
    text-decoration: none;
    padding: 5px 5px;
    display: block;
}
ul.servicemenu > li > a:hover {
    background-image:    -moz-linear-gradient(top, #eee, #ddd); 
    background-image:    -webkit-linear-gradient(top, #eee, #ddd); 
    background-image:    linear-gradient(top, #eee, #ddd); 
}

.textwrapper {
    margin: 20px;
}
.textile {
    font-size: 12px;
}
.textile > h1 {
    font-size: 18px;
}
.textile > h2 {
    font-size: 16px;
}
.textile > h3 {
    font-size: 14px;
}

.textile p {
    font-size: 12px;
    margin-bottom: 10px;
}

.textile ul {
    margin-left: 50px;
}
.textile ul li {
    font-size: 12px;
}

.goaloof {
    position: fixed;
    bottom: 0;
    right: 0;
    background: #ddd;
    border: 1px solid #ccc;
    padding: 10px 5px;
    z-index: 10000;
}


.blogtitle, .blogtitle > a:link, .blogtitle > a.visited, .blogtitle > a.active {
    font-size: 14px;
    text-decoration: none;
}
.blogcatagory, .mediatags {
    background: #eee;
    padding: 5px;
    margin-bottom: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.blogpost {
    background: #f8f8f8;
    padding: 7px;
    margin-bottom: 5px;
}

.leftimage {
    float: left;
    padding-right: 10px;
    padding-bottom: 2px;
}

.makeblog {
    padding: 10px 13px;
}
.makeblog .timestamp {
    margin-top: 3px;
    margin-bottom: 3px;
}
.textile p {
    line-height: 16px;
    font-size: 12px;
}
.hr {
    border-bottom: 1px solid #ccc;
}

.pagelinks {
    float: right;
    margin-right: 15px;
    font-size: 12px;
}
.pagelinks > .number:active, .pagelinks > .number:visited, .pagelinks > .number:link, .pagelinks > .number {
    font-size: 12px;
}

.success {
    background: #ffdbb2;
    margin: 10px 15px;
    padding: 4px 10px;
}

.hometext {
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 30px;
}
.hometext h3 {
    margin-bottom: 4px;
}
.hometext ul {
    margin-left: 20px;
    background: #c9daff;
    padding: 10px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.hometext ul > li {
    font-size: 13px;
    margin-left: 15px;
}
.arrowed {
    background: url(/static/images/oarrow.png) no-repeat;
    background-position: 50px 0;
    padding-top: 10px;
}


.clients {
    min-height: 80px;
    _height: 80px;
    margin-top: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
}
.clients ul {
    margin-top: 3px;
}
.clients ul li {
    list-style: none;
    text-align: center;
    display: none;
}
.clients ul li > img {
    -moz-box-shadow: 0px 0px 10px #ddd;
    -webkit-box-shadow: 0px 0px 10px #ddd;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.clients > h2 {
}

ul.errorlist {
    margin-left: 0 ! important;
}
.errorlist > li {
    list-style: none;
}

.myform label {
    font-size: 12px;
}
.myform input[type=text], .myform textarea {
    width: 100%;
    font-size: 12px;
}

.errorlist {
    color: red;
}

.contact {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    font-family: arial;
    background: #eee;
    border: 1px solid #eee;
    clear: left;
    width: 650px;
    margin-top: 20px;
    background-image:    -moz-linear-gradient(top, #fafafa, #eee); 
    background-image:    -webkit-linear-gradient(top, #fafafa, #eee); 
    background-image:    linear-gradient(top, #fafafa, #eee); 
}
.contact * {
    font-size: 13px;
    font-family: arial;
}

.righth {
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 13px;
    padding: 4px 5px;
    font-size: 13px;
}

